<!DOCTYPE HTML>
<html>
<head>
 <meta charset="utf-8">
        <!-- Javascript -->
		<link rel="stylesheet" href"bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href"bootstrap/css/bootstrap-responsive.css" />
		</style>
		<script src="js/jquery.min.js"> </script>
		<script src="bootstrap/js/bootstrap.min.js"> </script>
        <script src="js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
	    <script src="js/addhtml.js"></script>
</head>
<body>
<h3> Login Form </h3>

   <div class="container" data-ng-app="demoApp">
	<div data-ng-controller="loginController">


<div class="row">
	
		UserName : <input type="username" data-ng-model="inputData.username" placeholder="enter username" />
		password : <input type="password" data-ng-model="inputData.password" placeholder="enter password" />
		
		<button class="btn btn-primary" ng-click="callService()">Submit</button>

</div>
</div>
</div>

</body>
</html>